body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-image: none;
  background-color: #000;
}

h1 {
  color: white;
  text-align: center;
  font-size: 56px;
}

h5 {
  color: #FFF;
  font-weight: 660;
  font-size: 150%;
}

p {
  color: #FFF;
  font-size: 100%;
}

.cocktail-box{
  background-color: #FFF;
  padding-top: 20px;
  margin-bottom: 20px;
}

.cocktail-box a {
  color: red;
  font-weight: 400;
}

.btn-info {
  margin-bottom: 10px;
  background-color: #FFF;
  border-color: #FFF;
}

.container .img-responsive {
  display: block;
  max-height: 200px;
}