body {
    background-color: #000;
}

.detail-box{
    background-color: #FFF;
    margin: auto;
    width: 500px;
    padding: 10px;
}

.detail-box h1{
    color: black;
}

.detail-box p{
    margin: 10px;
}

.img-responsive {
    display: block;
    max-height: 400px;
    margin: auto;
}

.podbar {
    bottom:0;
    position:fixed;
    z-index:150;
    _position:absolute;
    _top:expression(eval(document.documentElement.scrollTop+
        (document.documentElement.clientHeight-this.offsetHeight)));
    height:35px;
}