<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tipsy Mix</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <link href="{{url_for('static', filename='css/index.css')}}" rel="stylesheet">
    <link href="{{url_for('static', filename='css/cocktail.css')}}" rel="stylesheet">
  </head>

  <div id = "navbar" class = "container">
    <div class = "row">
      <div class = "col-md-2"><a href="index.html">Home</a></div>
      <div class = "col-md-2"><a href="cocktails.html">Cocktails</a></div>
      <div class = "col-md-2"><a href="ingredients.html">Ingredients</a></div>
      <div class = "col-md-2"><a href="brands.html">Brands</a></div>
      <div class = "col-md-2"><a href="countries.html">Countries</a></div>
      <div class = "col-md-2"><a href="about.html">About</a></div>
    </div>
  </div>

  <body>
    <h1>Tipsy Mix</h1>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <div id = "searchForm">
      <input type="text" class="search" placeholder="Search by ingredients, cocktail, country, or brand"><br>
      <input type="submit" class="searchButton" placeholder="Search">
    </div>


    <section class = "container">
      <div class = "row">
      	<div class = "col-md-3 cocktail-box">
      	  <img class= "img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fc/Flag_of_Mexico.svg/840px-Flag_of_Mexico.svg.png" />
      	  <h5>Mexico</h5>
          <a href="countries/mexico.html" class="btn btn-info btn-log" role ="button">More</a>
      	</div>

        <!-- <div id="brazil" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Brazil</h4>
              </div>
              <div class="modal-body">
                <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/en/thumb/0/05/Flag_of_Brazil.svg/1080px-Flag_of_Brazil.svg.png" />
                <h3>National Liquor</h3>
                Cachaca
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div> -->

      	<div class = "col-md-3 col-md-offset-1 cocktail-box">
      	  <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/en/thumb/f/f3/Flag_of_Russia.svg/900px-Flag_of_Russia.svg.png" />
          <h5>Russia</h5>
          <a href="countries/russia.html" class="btn btn-info btn-log" role ="button">More</a>
      	</div>

        <!-- <div id="germany" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Germany</h4>
              </div>
              <div class="modal-body">
                <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/en/thumb/b/ba/Flag_of_Germany.svg/1200px-Flag_of_Germany.svg.png" />
                <h3>National Liquor</h3>
                Schnapps, Korn
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div> -->

      	<div class = "col-md-3 col-md-offset-1 cocktail-box">
      	  <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/Flag_of_Ireland.svg/1200px-Flag_of_Ireland.svg.png"/>
      	  <h5>Ireland</h5>
          <a href="countries/ireland.html" class="btn btn-info btn-log" role ="button">More</a>
      	</div>

        <!-- <div id="ireland" class="modal fade" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Ireland</h4>
              </div>
              <div class="modal-body">
                <img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/Flag_of_Ireland.svg/1200px-Flag_of_Ireland.svg.png" />
                <h3>National Liquor</h3>
                Irish whiskey, Poitin
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </section>
  </body>

</html>
